[Desktop Entry]
Type=Application
Name=Set a Password
Comment=Set a password for the live user (needed only if you want to lock the screen)
Exec=sh -c 'sudo aurora-set-password; echo; read -p "Press Enter to close…" _'
Icon=dialog-password
Terminal=true
Categories=System;Settings;
Keywords=password;lock;screen;aurora;
